*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.title {
  margin: 10px 0 0;
  font-size: 1.8rem;
}

.user_input {
  width: 100%;
  outline: none;
  padding: 10px 8px;
  font-size: 1.2rem;
  border: 2px solid gray;
  border-radius: 2px;
}

.user_input:focus {
  border: 2px solid #7ebf98;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.item {
  padding: 20px 15px;
  border: 0.2px solid #bbbdbe;
  border-radius: 1px;
}

.item_row {
  display: flex;
  justify-content: space-between;
}

.item_row_name {
  font-size: 1.3rem;
}

.item_row_controls {
  display: flex;
  column-gap: 2px;
  align-items: center;
}

.item_row_control {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: white;
  font-size: 1rem;
  padding: 5px 5px;
}

.item_row_control:hover {
  color: red;
}

.dialog_bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #00000075;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 400px;
  height: 250px;
  background: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}

.dialog_title {
  font-size: 1.3rem;
  text-align: center;
}

.dialog_input {
  border: 2px solid gray;
  outline: none;
  padding: 5px;
  font-size: 0.9rem;
}

.dialog_input:focus {
  border: 2px solid #7ebf98;
}

.dialog_controls {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
}

.dialog_confirm_btn {
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 15px;
    background-color: #7BC587;
    color: #FFFFFF;
}

.dialog_close_btn {
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 10px 15px;
    background-color: #EA7571;
    color: #FFFFFF;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .dialog {
    width: 95vw;
  }
}
